src/logicApp/Workflows/backend-availability-test/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Track_is_available_(in_App_Insights)": {
                "type": "InvokeFunction",
                "inputs": {
                    "functionName": "TrackIsAvailable",
                    "parameters": {
                        "testName": "@variables('TestName')",
                        "startTime": "@body('Start_time')"
                    }
                },
                "runAfter": {
                    "HTTP": [
                        "SUCCEEDED"
                    ]
                }
            },
            "HTTP": {
                "type": "Http",
                "inputs": {
                    "uri": "@{parameters('api-management-gateway-url')}/backend/status",
                    "method": "GET",
                    "headers": {
                        "Ocp-Apim-Subscription-Key": "@{parameters('api-management-subscription-key')}"
                    },
                    "retryPolicy": {
                        "type": "none"
                    }
                },
                "runAfter": {
                    "Start_time": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Track_is_unavailable_(in_App_Insights)": {
                "type": "InvokeFunction",
                "inputs": {
                    "functionName": "TrackIsUnavailable",
                    "parameters": {
                        "testName": "@variables('TestName')",
                        "startTime": "@body('Start_time')",
                        "message": "@concat('HTTP call failed with status code ', outputs('HTTP')?['statusCode'], ' and response body: \"', body('HTTP'), '\"')"
                    }
                },
                "runAfter": {
                    "HTTP": [
                        "TIMEDOUT",
                        "SKIPPED",
                        "FAILED"
                    ]
                }
            },
            "Initialize_TestName": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "TestName",
                            "type": "string",
                            "value": "Logic App Workflow - Backend API Status Test"
                        }
                    ]
                },
                "runAfter": {}
            },
            "Start_time": {
                "type": "Expression",
                "kind": "CurrentTime",
                "inputs": {},
                "runAfter": {
                    "Initialize_TestName": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "triggers": {
            "Recurrence": {
                "type": "Recurrence",
                "recurrence": {
                    "interval": 1,
                    "frequency": "Minute"
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}