src/logicApp/Workflows/backend-availability-test/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Track_is_available_(in_App_Insights)": {
                "type": "InvokeFunction",
                "inputs": {
                    "functionName": "Functions",
                    "parameters": {
                        "testName": "Logic App - Backend API Status Test",
                        "success": true,
                        "message": "NA"
                    }
                },
                "runAfter": {
                    "HTTP": [
                        "SUCCEEDED"
                    ]
                }
            },
            "HTTP": {
                "type": "Http",
                "inputs": {
                    "uri": "@{parameters('api-management-gateway-url')}/backend/status",
                    "method": "GET",
                    "headers": {
                        "Ocp-Apim-Subscription-Key": "@{parameters('api-management-subscription-key')}"
                    }
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Track_is_unavailable_(in_App_Insights)": {
                "type": "InvokeFunction",
                "inputs": {
                    "functionName": "Functions",
                    "parameters": {
                        "testName": "Logic App - Backend API Status Test",
                        "success": true,
                        "message": "@concat('HTTP call failed with status code: ', outputs('HTTP')?['statusCode'])"
                    }
                },
                "runAfter": {
                    "HTTP": [
                        "TIMEDOUT",
                        "SKIPPED",
                        "FAILED"
                    ]
                }
            }
        },
        "triggers": {
            "Recurrence": {
                "type": "Recurrence",
                "recurrence": {
                    "interval": 1,
                    "frequency": "Minute"
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}