src/logicApp/Workflows/backend-availability-test/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Track_is_available_(in_App_Insights)": {
                "type": "InvokeFunction",
                "inputs": {
                    "functionName": "TrackAvailability",
                    "parameters": {
                        "testName": "@variables('TestName')",
                        "success": true,
                        "startTime": "@body('Start_time')",
                        "message": "Availability test succeeded"
                    }
                },
                "runAfter": {
                    "HTTP": [
                        "SUCCEEDED"
                    ]
                }
            },
            "HTTP": {
                "type": "Http",
                "inputs": {
                    "uri": "@{parameters('api-management-gateway-url')}@{triggerBody()?['urlToTest']}",
                    "method": "GET",
                    "headers": {
                        "Ocp-Apim-Subscription-Key": "@{parameters('api-management-subscription-key')}"
                    },
                    "retryPolicy": {
                        "type": "none"
                    }
                },
                "runAfter": {
                    "Start_time": [
                        "SUCCEEDED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Track_is_unavailable_(in_App_Insights)": {
                "type": "InvokeFunction",
                "inputs": {
                    "functionName": "TrackAvailability",
                    "parameters": {
                        "testName": "@variables('TestName')",
                        "success": false,
                        "startTime": "@body('Start_time')",
                        "message": "@concat('HTTP call failed with status code ', outputs('HTTP')?['statusCode'], ' and response body: \"', body('HTTP'), '\"')"
                    }
                },
                "runAfter": {
                    "HTTP": [
                        "TIMEDOUT",
                        "SKIPPED",
                        "FAILED"
                    ]
                }
            },
            "Response_Available": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 200,
                    "body": {
                        "status": "available"
                    }
                },
                "runAfter": {
                    "Track_is_available_(in_App_Insights)": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Response_Unavailable": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 503,
                    "body": {
                        "status": "unavailable"
                    }
                },
                "runAfter": {
                    "Track_is_unavailable_(in_App_Insights)": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Initialize_TestName": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "TestName",
                            "type": "string",
                            "value": "Logic App Workflow - Backend API Status Test"
                        }
                    ]
                },
                "runAfter": {}
            },
            "Start_time": {
                "type": "Expression",
                "kind": "CurrentTime",
                "inputs": {},
                "runAfter": {
                    "Initialize_TestName": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "urlToTest": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}